* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body,
html {
  height: 100%;
  margin: 0;
  background: linear-gradient(45deg, #2e5930, #1b5c65);
}


a {
  text-decoration: none; 
  color: inherit; 
  font-weight: normal; 
  background: none; 
  border: none; 
  padding: 0; 
  margin: 0; 
  outline: none; 
}

/* header */
nav {
  background: var(--background);
  padding: 10px 40px 10px 70px;
  border: 1px solid var(--header);
  border-left: none;
  border-right: none;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li.logo {
  flex: 1;
  font-size: 40px;
  font-weight: 700;
}
nav ul li.logo-small {
  display: none;
  flex: 1;
  font-size: 40px;
  font-weight: 700;
}
nav ul li.logo a, nav ul li.logo-small a{
  text-decoration: none;
  color: var(--header);
  font-family: 'LibreBaskerville', 'Times New Roman', Times, serif;
  transition: all 0.3s ease-in-out;
}
nav ul li.logo a:hover, nav ul li.logo-small a:hover {
  color: var(--hoverLink);
}
nav ul div.items li:first-child {
  display: none;
}
nav ul div.items li a.active {
  color: var(--visitedLink);
}
nav ul div.items {
  padding: 0.25px;
  display: inline-flex;
  padding-right: 30px;
  transition: all 0.3s ease-in-out;
}
nav ul div.items a {
  border-radius: 10px;
  text-decoration: none;
  color: var(--header);
  font-size: 20px;
  padding: 0 12px;
  transition: all 0.3s ease-in-out;
} 
nav ul div.items a:hover {
  color: var(--hoverLink);
  background-color: var(--header);
}

/*nav hamburger menu styling*/
.hamburger {
  display: none;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}
.hamburger:hover {
  padding: 6px;
  background-color: white;
}
.hamburger:hover .line {
  background-color: var(--hoverLink);
}
.line {
  display: block;
  width: 28px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* media queries for smaller screens */
@media screen and (max-width: 1290px) {
  nav ul li.logo {
    display: none;
  }
  nav ul li.logo-small {
    display: block;
  }
}

@media screen and (max-width: 1080px) {
  nav ul div.items li:first-child {
    display: block;
  }
  nav {
    padding: 10px 20px 10px 10px;
    text-align: center;
  }
  nav ul li.logo {
    display: none;
  }
  nav ul li.logo-small {
    display: none;
  }
  nav ul div.items {
    flex: 4;
  }
}

@media screen and (max-width: 840px) {
  nav ul div.items li:first-child {
    display: block;
  }
  nav ul div.items {
    display: none;
    width: 100%;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out forwards;
  }
  .items.responsive {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--background);
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid var(--header);
    animation: fadeIn 0.3s ease-in-out forwards;
  }
  .items.responsive li {
    width: 100%;
    padding: 10px 0;
    animation: fadeIn 0.3s ease-in-out forwards;
  }
  nav ul .hamburger {
    display: block;
    cursor: pointer;
  }
  nav ul {
    justify-content: space-between;
  }

}

/*keyframe code for fadeIn*/
/*this gives an pop up smooth animation for the hamburger menu*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
